:root {
  scrollbar-width: thin;
  scrollbar-color: #444 transparent;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  background-color: #121212;
  font-size: 100%;
  /* Uses the user's default setting */
}

/* Set a dark theme background */
body {
  background-color: #1e1e2e;
  color: #ffffff;
  font-family: 'Inter', sans-serif;
  font-size: 1rem;
  line-height: 1.6;
}

/* Global link styling */
a {
  text-decoration: none;
  color: #8e44ad;
  transition: color 0.2s ease-in-out;
}

a:hover {
  color: #6c3483;
}

/* Button Defaults */
button {
  cursor: pointer;
  border: none;
  padding: 10px 15px;
  font-size: 1rem;
  font-weight: bold;
  border-radius: 5px;
  transition: all 0.3s ease-in-out;
}

button:focus {
  outline: none;
}

button:hover {
  opacity: 0.9;
}

/* Input Fields */
input,
select,
textarea {
  width: 100%;
  padding: 10px;
  font-size: 1rem;
  border-radius: 5px;
  border: 1px solid #333;
  background-color: #2c2c3e;
  color: #fff;
}

input:focus,
select:focus,
textarea:focus {
  outline: none;
  border-color: #8e44ad;
}